{{ define "main" }}
  {{ if .Content }}
  <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ partial "display_content" .}}
    </div>
  {{ end }}
  {{ partial "subsection.html" . }}
  <div class="posts">
    {{ range .Paginator.Pages }}
      <div class="post on-list">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify -}}
            {{- if .Params.Draft -}}
            <sup class="draft">[Draft]</sup>
            {{- end -}}
          </a></h1>
        <div class="post-meta">
          <div class="post-meta-info">
            {{ with .Date}}
              <span class="post-date">
                {{- .Format "2006-01-02" -}}
              </span>
            {{end}}
            {{ with .Params.Author }}
              <span class="post-author">{{ . }}</span>
            {{ end }}
          </div>
          {{- if isset .Params "weight" -}}
            <span class="post-meta-pinned">⭱</span>
          {{- end -}}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}


        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            {{ .Description | markdownify }}
          {{ else }}
            {{ .Summary | markdownify }}
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
        <div>
          <a class="read-more button"
            href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
        </div>
        {{ end }}
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
