{{ define "main" }}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{- .Title | markdownify -}}
      {{- if .Params.Draft -}}
        <sup class="draft">[Draft]</sup>
      {{- end -}}
    </a></h1>
  <div class="post-meta">
    <div class="post-meta-info">
      {{ if .Params.Date }}
        <span class="post-date">
          <time>{{- .Date.Format "2006-01-02" -}}</time>
          {{- if and $.Site.Params.showLastUpdated (ne .Date .Lastmod) -}}
            [{{- or $.Site.Params.updatedDatePrefix "Updated" -}}: <time>{{ .Lastmod.Format "2006-01-02" -}}</time>]
          {{- end -}}
        </span>
      {{ end }}
      {{ with .Params.Author }}
        <span class="post-author">{{ . }}</span>
      {{ end }}
      {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
        <span class="post-reading-time">{{ .ReadingTime }} min read ({{ .WordCount }} words)</span>
      {{ end }}
    </div>
  </div>

  {{$p := .}}
  {{ range $taxData := (partialCached "taxonomy/get_ordered_list.html" .) }}
    {{ if and ($p.Param $taxData.Data.Plural) $taxData }}
      {{$name:=$taxData.Data.Plural}}
      <div class="post-tax-list">
        {{ if not ($taxData.Param "taxonomy.displayBlank")}}
          <a class="post-tax-name" href="{{ $taxData.Permalink | absLangURL }}">{{ $taxData.Param "taxonomy.display" | default (printf "%s:" $taxData.Title) }}</a>
        {{end}}
        {{ range (index $p.Params $name) }}
          {{$value := $p.Site.GetPage (printf "/%s/%s" $name .)}}
          <a class="post-tax-value" href="{{ $value.Permalink | absLangURL }}">{{ $value.Title }}</a>
         {{ end }}
      </div>
    {{ end }}
  {{ end }}

  {{ partial "cover.html" . }}

  {{ if (.Params.Toc | default .Site.Params.Toc) }}
    <div class="table-of-contents">
      <h2>
        {{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content">
    {{- if .Content -}}
      <div>
        {{ partial "display_content" .}}
      </div>
    {{- end -}}
  </div>

  {{- partial "posts_pagination.html" . -}}

  {{ if not (.Params.hideComments | default false) }}
  {{ partial "comments.html" . }}
  {{ end }}
</article>
{{ end }}
