{{- if .Content }}
    {{ $show := true }}

    {{ if and .IsSection (.Param "headingAnchor.disableOnList") }}
        {{ $show = false }}
    {{ end }}

    {{ if and .IsPage (.Param "headingAnchor.disableOnPage") }}
        {{ $show = false }}
    {{ end }}


    {{ if isset .Params "showanchor" }}
        {{ $show = .Params.showAnchor }}
    {{ end }}

    {{ if $show }}
        {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
    {{ else }}
        {{ .Content }}
    {{ end }}
{{- end }}
